{{ define "main" }}
<h1 class="">{{ .Title }}</h1>
<div class="mt-8 flex flex-col items-center xl:flex-row xl:justify-center xl:items-start xl:gap-2">
    {{ if and .TableOfContents (eq .Params.toc true) }}
    <div class="mb-8 p-2 bg-emerald-50 dark:bg-slate-900 border border-transparent dark:border-emerald-500 dark:text-gray-300 rounded xl:sticky xl:top-4 xl:max-h-screen xl:overflow-y-auto min-w-80">
        <h2 class="text-xl font-bold mb-2">Table of Contents</h2>
        {{ .TableOfContents }}
    </div>
    {{ end }}
    <article class="prose px-8">
        {{ .Content }}
    </article>
    <div class="mb-8 p-2 bg-emerald-50 dark:bg-slate-900 border border-transparent dark:border-emerald-500 dark:text-gray-300 rounded xl:sticky xl:top-4 xl:max-h-screen xl:overflow-y-auto min-w-80">
        {{ partial "tags-and-categories.html" . }}
    </div>
</div>
{{ end }}
