<ul class="flex flex-row flex-wrap justify-center gap-2 my-4">
    {{ range .Data.Terms.Alphabetical }}
        <li class="flex items-center">
            <a href="{{ .Page.RelPermalink }}"
                class='px-1 pb-1 rounded-lg flex items-center text-white
                    {{ if eq .Page.Type "tags" }} bg-violet-600 hover:bg-violet-800{{ end }}
                    {{ if eq .Page.Type "categories" }} bg-emerald-500 hover:bg-emerald-700{{ end }}'
                >
                {{ .Page.Title }} ({{ .Count }})
            </a>
        </li>
    {{ end }}
</ul>